Source: tensor
Maintainer: Gamunu Balagalla <gamunu.balagalla@outlook.com>
Homepage: https://gamunu.github.io/tensor/
Vcs-Git: git://pearson.com/tensor.git
Vcs-Browser: https://pearson.com/tensor.git

Package: tensor
Architecture: amd64
Depends: python (>= 2.7), python-pymongo (>= 3.2), ansible (>= 2.2), git (>= 2.7), adduser, ${shlibs:Depends}
Recommends: python-dev (>=2.7), libkrb5-dev (>= 1.13), krb5-user (>= 1.13), python-kerberos, python-xmltodict, python-requests-kerberos, subversion (>=1.9), mercurial (>=3.7)
Section: admin
Priority: extra
Homepage: https://gamunu.github.io/tensor/
Description: Comprehensive web-based automation framework and
 Centralized infrastructure management platform,
 provides role-based access control, job scheduling, inventory management.
 .
 Tensor features:
  * Configuration Management
  * Provisioning
  * Code Deployments
  * Continuous Integration & Continuous Delivery
  * Security & Compliance
  * Orchestration